<!DOCTYPE HTML>
<html>
    <head>
        
    </head>
    <body>
        <div class="container top-banner">
            <div class="nav-bar">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container left-banner">

        </div>
        <div class ="container main-content">
            <h1>Welcome to Box Collab</h1>
            <a href="/get_collabs">Get_collabs</a>
            <a href ="/remove_user">Remove User</a>
        </div>
        <footer class ="container footer"> 

        </footer>
    </body>
</html>